<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imageName</key>
		<string>category_01</string>
		<key>title</key>
		<string>小说</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_02</string>
		<key>title</key>
		<string>出版精品</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_03</string>
		<key>title</key>
		<string>头条</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_04</string>
		<key>title</key>
		<string>相声小品</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_05</string>
		<key>title</key>
		<string>情感</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_06</string>
		<key>title</key>
		<string>脱口秀</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_07</string>
		<key>title</key>
		<string>音乐</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_08</string>
		<key>title</key>
		<string>历史</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_09</string>
		<key>title</key>
		<string>财经</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_10</string>
		<key>title</key>
		<string>儿童</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_11</string>
		<key>title</key>
		<string>教育</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_12</string>
		<key>title</key>
		<string>文化</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_13</string>
		<key>title</key>
		<string>搞笑</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_14</string>
		<key>title</key>
		<string>娱乐</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_15</string>
		<key>title</key>
		<string>汽车</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_16</string>
		<key>title</key>
		<string>评书</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_17</string>
		<key>title</key>
		<string>广播剧</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_18</string>
		<key>title</key>
		<string>影视</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_19</string>
		<key>title</key>
		<string>科技</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_20</string>
		<key>title</key>
		<string>健康</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_21</string>
		<key>title</key>
		<string>戏曲</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_22</string>
		<key>title</key>
		<string>公开课</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_23</string>
		<key>title</key>
		<string>体育</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_24</string>
		<key>title</key>
		<string>女性</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_25</string>
		<key>title</key>
		<string>游戏动漫</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_26</string>
		<key>title</key>
		<string>旅游</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_27</string>
		<key>title</key>
		<string>品牌电台</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_28</string>
		<key>title</key>
		<string>自媒体</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_29</string>
		<key>title</key>
		<string>校园</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_30</string>
		<key>title</key>
		<string>时尚</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_31</string>
		<key>title</key>
		<string>中国之声</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_32</string>
		<key>title</key>
		<string>小说会员</string>
	</dict>
	<dict>
		<key>imageName</key>
		<string>category_33</string>
		<key>title</key>
		<string>会员专区</string>
	</dict>
</array>
</plist>
