<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isLightGray</key>
		<false/>
		<key>isHiddenArrow</key>
		<true/>
		<key>title</key>
		<string>文化</string>
	</dict>
	<dict>
		<key>isLightGray</key>
		<false/>
		<key>isHiddenArrow</key>
		<true/>
		<key>title</key>
		<string>职场</string>
	</dict>
	<dict>
		<key>isLightGray</key>
		<false/>
		<key>isHiddenArrow</key>
		<true/>
		<key>title</key>
		<string>教育</string>
	</dict>
	<dict>
		<key>isLightGray</key>
		<false/>
		<key>isHiddenArrow</key>
		<true/>
		<key>title</key>
		<string>理财</string>
	</dict>
	<dict>
		<key>isLightGray</key>
		<false/>
		<key>isHiddenArrow</key>
		<true/>
		<key>title</key>
		<string>情感</string>
	</dict>
	<dict>
		<key>isLightGray</key>
		<false/>
		<key>isHiddenArrow</key>
		<true/>
		<key>title</key>
		<string>小课</string>
	</dict>
	<dict>
		<key>isLightGray</key>
		<false/>
		<key>isHiddenArrow</key>
		<true/>
		<key>title</key>
		<string>蒋勋</string>
	</dict>
	<dict>
		<key>isLightGray</key>
		<true/>
		<key>isHiddenArrow</key>
		<false/>
		<key>title</key>
		<string>全部</string>
	</dict>
</array>
</plist>
