<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isNeedRedCover</key>
		<true/>
		<key>isNeedBlueCover</key>
		<false/>
		<key>isSeperateLineHidden</key>
		<true/>
		<key>isImageViewHidden</key>
		<false/>
		<key>imageName</key>
		<string>taxonomy_category_3617_54x54_</string>
		<key>title</key>
		<string>精品内容</string>
	</dict>
	<dict>
		<key>isNeedRedCover</key>
		<false/>
		<key>isNeedBlueCover</key>
		<true/>
		<key>isSeperateLineHidden</key>
		<true/>
		<key>isImageViewHidden</key>
		<false/>
		<key>imageName</key>
		<string>taxonomy_category_3629_54x54_</string>
		<key>title</key>
		<string>畅销小说</string>
	</dict>
	<dict>
		<key>isNeedRedCover</key>
		<false/>
		<key>isNeedBlueCover</key>
		<false/>
		<key>isSeperateLineHidden</key>
		<false/>
		<key>isImageViewHidden</key>
		<true/>
		<key>imageName</key>
		<string>&quot;&quot;</string>
		<key>title</key>
		<string>蒋勋青春红楼</string>
	</dict>
	<dict>
		<key>isNeedRedCover</key>
		<false/>
		<key>isNeedBlueCover</key>
		<false/>
		<key>isSeperateLineHidden</key>
		<false/>
		<key>isImageViewHidden</key>
		<true/>
		<key>imageName</key>
		<string>&quot;&quot;</string>
		<key>title</key>
		<string>将军在上</string>
	</dict>
	<dict>
		<key>isNeedRedCover</key>
		<false/>
		<key>isNeedBlueCover</key>
		<false/>
		<key>isSeperateLineHidden</key>
		<false/>
		<key>isImageViewHidden</key>
		<true/>
		<key>imageName</key>
		<string>&quot;&quot;</string>
		<key>title</key>
		<string>矮大紧指北</string>
	</dict>
	<dict>
		<key>isNeedRedCover</key>
		<false/>
		<key>isNeedBlueCover</key>
		<false/>
		<key>isSeperateLineHidden</key>
		<false/>
		<key>isImageViewHidden</key>
		<true/>
		<key>imageName</key>
		<string>&quot;&quot;</string>
		<key>title</key>
		<string>阴阳符</string>
	</dict>
	<dict>
		<key>isNeedRedCover</key>
		<false/>
		<key>isNeedBlueCover</key>
		<false/>
		<key>isSeperateLineHidden</key>
		<true/>
		<key>isImageViewHidden</key>
		<true/>
		<key>imageName</key>
		<string>&quot;&quot;</string>
		<key>title</key>
		<string>张大春说三国</string>
	</dict>
	<dict>
		<key>isNeedRedCover</key>
		<false/>
		<key>isNeedBlueCover</key>
		<false/>
		<key>isSeperateLineHidden</key>
		<true/>
		<key>isImageViewHidden</key>
		<true/>
		<key>imageName</key>
		<string>&quot;&quot;</string>
		<key>title</key>
		<string>一号红人</string>
	</dict>
</array>
</plist>
